 
.range-slider {
  width: 400px;
  position: relative;
  margin: 15px 0 30px 0;
  
}

input[type=range] {
  -webkit-appearance: none;
  width: 90%;
  background: transparent; 
  position: absolute;
  left: 5%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #36b37e;
  cursor: pointer;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}
 
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #e8e8e8;
  border-radius: 3px;
  border: none;
}
.range-slider{
    position:absolute;
    width:300px;
    padding:25px;
    padding-top:20px;
    background:white;
    margin-top:185px;
    right:0px;
    display: none;
}
.min-value-label , .max-value-label{
    font-weight: bold;
}
#min-value,.min-value-label{
    float: left;
}
#max-value,.max-value-label{
    float: right;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  } 