/* reset css start */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&family=Quicksand:wght@300;400;500;600;700&display=swap");
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Maven Pro", sans-serif;
    color: #464646;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-weight: 400;
    position: relative;
    line-height: 1.7;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow-x: hidden;
}
body.page-trns-active {
    position: relative;
}
body.page-trns-active::after {
    position: absolute;
    content: "\f110";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    font-size: 4.5rem;
    z-index: 999;
    animation: spinRoll 1s infinite linear;
}
body.page-trns-active::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002046;
    z-index: 99;
    opacity: 0.65;
}
@-webkit-keyframes spinRoll {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinRoll {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes spinRoll {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinRoll {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
section {
    background-color: #fff;
}
img {
    max-width: 100%;
    height: auto;
    user-select: none;
}
select {
    cursor: pointer;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
button {
    cursor: pointer;
}
*:focus {
    outline: none;
}
button {
    border: none;
}
button:focus {
    outline: none;
}
span {
    display: inline-block;
}
a:hover {
    color: #43ced2;
}
/* reset css end */
/* global css strat */
.text--primary {
    color: #7367f0 !important;
}
.text--secondary {
    color: #868e96 !important;
}
.text--success {
    color: #28c76f !important;
}
.text--danger {
    color: #ea5455 !important;
}
.text--warning {
    color: #ff9f43 !important;
}
.text--info {
    color: #1e9ff2 !important;
}
.text--dark {
    color: #10163A !important;
}
.text--muted {
    color: #cccccc !important;
}
.text--base {
    color: #43ced2 !important;
}
.text--dark {
    color: #373e4a !important;
}
/* background color css start */
.bg--primary {
    background-color: #7367f0 !important;
}
.bg--secondary {
    background-color: #868e96 !important;
}
.bg--success {
    background-color: #28c76f !important;
}
.bg--danger {
    background-color: #ea5455 !important;
}
.bg--warning {
    background-color: #ff9f43 !important;
}
.bg--info {
    background-color: #1e9ff2 !important;
}
.bg--dark {
    background-color: #10163A !important;
}
.bg--light {
    background-color: #eef4ff !important;
}
.bg--base {
    background-color: #43ced2 !important;
}
/* background color css end */
.mb-30 {
    margin-bottom: 30px;
}
.mb-none-30 {
    margin-bottom: -30px;
}
.pt-25 {
    padding-top: 35px;
}
.pb-25 {
    padding-bottom: 35px;
}
.pt-50 {
    padding-top: 70px;
}
.pb-50 {
    padding-bottom: 70px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pt-120 {
    padding-top: 120px;
}
.pb-120 {
    padding-bottom: 120px;
}
.pt-150 {
    padding-top: 150px;
}
.pb-150 {
    padding-bottom: 150px;
}
.bg_img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section--bg, .list-item {
    background-color: #F5F7FA;
}
.section--bg2 {
    background-color: #002046;
}
.section-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.dark-overlay {
    position: relative;
    z-index: 1;
}
.dark-overlay::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002046;
    opacity: 0.4;
    z-index: -1;
}
.opacity20 {
    opacity: 0.2;
}
.opacity30 {
    opacity: 0.3;
}
.opacity50 {
    opacity: 0.5;
}
.bg--one {
    background-color: #071e3e;
}
.slick-arrow {
    cursor: pointer;
}
.z-index-2 {
    z-index: 2;
}
.main-wrapper {
    position: relative;
    z-index: 1;
}
.section-header {
    margin-bottom: 2.8125rem;
}
.section-title {
    font-size: 2rem;
}
.section-subtitle {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 500;
}
.section-subtitle.border-left {
    padding-left: 2.1875rem;
    position: relative;
    z-index: 1;
}
.section-subtitle.border-left::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #43ced2;
    margin-top: -1px;
}
a.text-white:hover {
    color: #43ced2 !important;
}
.text--link {
    text-decoration: underline;
}
.text--link:hover {
    text-decoration: underline;
}
.has--link {
    position: relative;
}
.has--link .item--link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.custom--dropdown .dropdown-toggle.no-arrow::after {
    display: none;
}
.custom--dropdown .dropdown-toggle::after {
    content: "\f107";
    border: none;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
}
.custom--dropdown .dropdown-menu {
    border-color: #e5e5e5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.custom--dropdown .dropdown-menu li {
    border-bottom: 1px dashed #e5e5e5;
}
.custom--dropdown .dropdown-menu li:last-child {
    border-bottom: none;
}
.custom--dropdown .dropdown-menu li .dropdown-item {
    color: #464646;
    font-size: 0.875rem;
}
.custom--dropdown .dropdown-menu li .dropdown-item:hover {
    color: #43ced2;
    background-color: rgba(67, 206, 210, 0.05);
}
.custom--accordion .accordion-item + .accordion-item {
    margin-top: 1.25rem;
}
.custom--accordion .accordion-item {
    border: 1px solid rgba(67, 206, 210, 0.5);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.custom--accordion .accordion-item:first-child .accordion-button {
    border-top: none;
}
.custom--accordion .accordion-item:last-child .accordion-button {
    border-bottom: none;
}
.custom--accordion .accordion-button {
    padding: 1.25rem 1.5625rem;
    background-color: rgba(67, 206, 210, 0.05);
    font-size: 1.125rem;
    position: relative;
    text-align: left;
}
.custom--accordion .accordion-button::after {
    position: absolute;
    top: 1.25rem;
    right: 0.8125rem;
    font-size: 1.0625rem;
    content: '\f107';
    font-family: 'Line Awesome Free';
    font-weight: 900;
    background-image: none;
    color: #000;
}
.custom--accordion .accordion-button:not(.collapsed) {
    background-color: #43ced2;
    color: #fff;
}
.custom--accordion .accordion-button:not(.collapsed)::after {
    color: #fff;
}
.custom--accordion .accordion-button:focus {
    box-shadow: none;
    outline: none;
    border-color: transparent;
}
.custom--accordion .accordion-body {
    padding: 1.25rem 1.5625rem;
}
.page-breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 0.9375rem;
}
.page-breadcrumb li {
    color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
}
.page-breadcrumb li::after {
    content: '-';
    color: #ffffff;
    margin: 0 0.3125rem;
}
.page-breadcrumb li:first-child::before {
    content: "\f015";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #43ced2;
    margin-right: 0.375rem;
}
.page-breadcrumb li:last-child::after {
    display: none;
}
.page-breadcrumb li a {
    color: #ffffff;
    text-transform: capitalize;
}
.page-breadcrumb li a:hover {
    color: #43ced2;
}
.cmn-list li + li {
    margin-top: 0.9375rem;
}
.cmn-list li {
    position: relative;
    padding-left: 2.1875rem;
}
.cmn-list li::before {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    content: "\f058";
    font-size: 1.75rem;
    color: #43ced2;
    margin-right: 0.5rem;
    line-height: 1;
}
.cmn-list-two li {
    padding: 0.375rem 0.9375rem;
    font-size: 0.875rem;
}
.cmn-list-two li:nth-child(even) {
    background-color: #EBF5F5;
}
.number-list {
    list-style: decimal;
    padding-left: 1.125rem;
}
.number-list li + li {
    margin-top: 0.625rem;
}
.disc-list li + li {
    margin-top: 0.625rem;
}
.disc-list li {
    position: relative;
    padding-left: 0.9375rem;
}
.disc-list li::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 0.375rem;
    height: 0.375rem;
    margin-top: -0.1875rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #bdbdbd;
}
.square-list li + li {
    margin-top: 10px;
}
.square-list li {
    padding-left: 25px;
    position: relative;
}
.square-list li::before {
    position: absolute;
    content: '';
    top: 5px;
    left: 0;
    width: 14px;
    height: 14px;
    background-color: #e6e6e6;
}
.square-list li::after {
    position: absolute;
    content: '';
    top: 9px;
    left: 4px;
    width: 14px;
    height: 14px;
    background-color: rgba(67, 206, 210, 0.45);
}
.caption-list li {
    display: flex;
    flex-wrap: wrap;
    padding: 0.625rem 0;
    font-size: 0.9375rem;
    border-bottom: 1px dashed #e5e5e5;
}
.caption-list li:first-child {
    padding-top: 0;
}
.caption-list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.caption-list li .caption {
    width: 30%;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    position: relative;
}
@media (max-width: 480px) {
    .caption-list li .caption {
        width: 35%;
    }
}
.caption-list li .caption::after {
    position: absolute;
    content: ':';
    top: 0;
    right: 0;
}
.caption-list li .value {
    width: 70%;
    padding-left: 0.9375rem;
}
@media (max-width: 480px) {
    .caption-list li .value {
        width: 65%;
    }
}
.caption-list-two {
    padding: 0.625rem 0.9375rem;
    background-color: rgba(67, 206, 210, 0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.caption-list-two li {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #373e4a;
    font-size: 0.875rem;
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px dashed #cccccc;
}
.caption-list-two li:first-child {
    padding-top: 0;
}
.caption-list-two li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.caption-list-two li .caption {
    width: 20%;
    position: relative;
    font-weight: 700;
}
.caption-list-two li .caption::after {
    position: absolute;
    content: ':';
    top: 0;
    right: 0;
}
.caption-list-two li .value {
    width: 80%;
    text-align: right;
}
body, .btn--base.btn--custom, .custom--table tbody tr, .header .main-menu li.menu_has_children > a::before, .header .main-menu li .sub-menu, .header .main-menu li .sub-menu li a, .header .main-menu li .sub-menu li a::before, .hero-search-form .hero-search-form-btn, .category-item, .filter-sidebar, .ad-details-nav-slider .ad-details-nav-thumb, .share-sub-menu, .share-sub-menu li a, .list-item__wrapper, .location-card, .location-card img, .location-card .overlay-content {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.object-fit--cover {
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}
.pagination {
    margin: -0.3125rem -0.4375rem;
}
.pagination .page-item {
    margin: 0.3125rem 0.4375rem;
}
.pagination .page-item.active .page-link {
    background-color: #43ced2;
    color: #000;
}
.pagination .page-item .page-link {
    width: 2.8125rem;
    height: 2.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid rgba(67, 206, 210, 0.25);
    color: #ffffff;
}
.video--btn {
    width: 7.5rem;
    height: 5.625rem;
    background-color: #43ced2;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    font-size: 2.625rem;
    border: 4px solid #fff;
}
.video--btn:hover {
    color: #fff;
}
.shake {
    animation: shake 0.5s 1 linear;
}
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@-moz-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@-ms-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@-ms-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@-ms-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@-ms-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}
@-webkit-keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-ms-keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-moz-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-ms-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
/* global css end */
/* preloader css start */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.preloader.hidden {
    visibility: hidden;
}
.preloader.hidden .top-slide {
    height: 0;
}
.preloader.hidden .bottom-slide {
    height: 0;
}
.preloader.hidden .preloader-logo {
    opacity: 0;
    visibility: hidden;
}
.preloader .preloader-logo {
    max-width: 180px;
    margin-bottom: 30px;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.preloader .loading-line {
    width: 300px;
    height: 2px;
    background-color: #43ced2;
    position: relative;
}
.preloader .loading-line::after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 30px;
    height: 8px;
    background-color: #43ced2;
    animation: leftToright 4s infinite linear;
}
.preloader .top-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #002046;
    z-index: -1;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
    transition-delay: 0.3s;
}
.preloader .bottom-slide {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #002046;
    z-index: -1;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
    -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
    transition-delay: 0.3s;
}
@-webkit-keyframes leftToright {
    0% {
        left: 0;
    }
    25% {
        left: 50%;
    }
    50% {
        left: 100%;
    }
    75% {
        left: 50%;
    }
    100% {
        left: 0;
    }
}
@-moz-keyframes leftToright {
    0% {
        left: 0;
    }
    25% {
        left: 50%;
    }
    50% {
        left: 100%;
    }
    75% {
        left: 50%;
    }
    100% {
        left: 0;
    }
}
@-ms-keyframes leftToright {
    0% {
        left: 0;
    }
    25% {
        left: 50%;
    }
    50% {
        left: 100%;
    }
    75% {
        left: 50%;
    }
    100% {
        left: 0;
    }
}
@keyframes leftToright {
    0% {
        left: 0;
    }
    25% {
        left: 50%;
    }
    50% {
        left: 100%;
    }
    75% {
        left: 50%;
    }
    100% {
        left: 0;
    }
}
/* preloader css end */
h1 {
    font-size: 3.875rem;
}
h2 {
    font-size: 2rem;
}
@media (max-width: 991px) {
    h2 {
        font-size: 1.875rem;
    }
}
@media (max-width: 575px) {
    h2 {
        font-size: 1.75rem;
    }
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.375rem;
}
@media (max-width: 767px) {
    h4 {
        font-size: 1.25rem;
    }
}
h5 {
    font-size: 1.25rem;
}
@media (max-width: 767px) {
    h5 {
        font-size: 1.125rem;
    }
}
h6 {
    font-size: 1.125rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", sans-serif;
    color: #373e4a;
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
    word-break: break-word;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    font-family: "Quicksand", sans-serif;
    color: #373e4a;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 1.2;
    word-break: break-word;
}
p, li, span {
    margin: 0;
}
a {
    text-decoration: none;
    display: inline-block;
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
}
a:hover {
    text-decoration: none;
}
.font-size--18px {
    font-size: 1.125rem !important;
}
.font-size--16px {
    font-size: 1rem !important;
}
.font-size--14px {
    font-size: 0.875rem !important;
}
.font-size--12px {
    font-size: 0.75rem !important;
}
/* button css start */
button:focus {
    outline: none;
}
[class*="btn--"]:not(.btn--link):not(.btn--light) {
    color: #fff;
}
.btn {
    padding: 0.875rem 1.875rem;
}
.btn--primary {
    background-color: #7367f0!important;
}
.btn--primary:hover {
    background-color: #5e50ee;
}
.btn--secondary {
    background-color: #868e96;
}
.btn--secondary:hover {
    background-color: #78818a;
}
.btn--success {
    background-color: #28c76f!important;
}
.btn--success:hover {
    background-color: #24b263;
}
.btn--danger {
    background-color: #ea5455!important;
}
.btn--danger:hover {
    background-color: #e73d3e;
}
.btn--warning {
    background-color: #ff9f43;
}
.btn--warning:hover {
    background-color: #ff922a;
}
.btn--info {
    background-color: #1e9ff2;
}
.btn--info:hover {
    background-color: #0d93e9;
}
.btn--light {
    background-color: #eef4ff;
}
.btn--light:hover {
    background-color: #d5e4ff;
}
.btn--dark {
    background-color: #10163A;
    color: #fff;
}
.btn--dark:hover {
    background-color: #0a0e26;
    color: #fff;
}
.btn--link {
    color: #7367f0;
}
.btn--base {
    background-color: #43ced2;
    color: #fff;
}
.btn--base:hover {
    background-color: #31c7cb;
    color: #fff;
}
.btn--base.btn--custom {
    outline: 2px solid rgba(255, 255, 255, 0.7);
    outline-offset: -6px;
}
.btn--base.btn--custom:hover {
    outline-offset: 0;
    outline: 2px solid rgba(255, 255, 255, 0);
}
.text-btn {
    padding: 0;
    color: #464646;
    background-color: transparent;
}
.btn-outline--primary {
    color: #7367f0;
    border-color: #7367f0;
}
.btn-outline--primary:hover {
    background-color: #7367f0;
    color: #ffffff;
}
.btn-outline--secondary {
    color: #868e96;
    border-color: #868e96;
}
.btn-outline--secondary:hover {
    background-color: #868e96;
    color: #ffffff;
}
.btn-outline--success {
    color: #28c76f;
    border-color: #28c76f;
}
.btn-outline--success:hover {
    background-color: #28c76f;
    color: #ffffff;
}
.btn-outline--danger {
    color: #ea5455;
    border-color: #ea5455;
}
.btn-outline--danger:hover {
    background-color: #ea5455;
    color: #ffffff;
}
.btn-outline--warning {
    color: #ff9f43;
    border-color: #ff9f43;
}
.btn-outline--warning:hover {
    background-color: #ff9f43;
    color: #ffffff;
}
.btn-outline--info {
    color: #1e9ff2;
    border-color: #1e9ff2;
}
.btn-outline--info:hover {
    background-color: #1e9ff2;
    color: #ffffff;
}
.btn-outline--light {
    color: #eef4ff;
    border-color: #eef4ff;
}
.btn-outline--light:hover {
    background-color: #eef4ff;
    color: #ffffff;
}
.btn-outline--dark {
    color: #10163A;
    border-color: #10163A;
}
.btn-outline--dark:hover {
    background-color: #10163A;
    color: #ffffff;
}
.btn-outline--base {
    color: #43ced2;
    border: 1px solid #43ced2;
}
.btn-outline--base:hover {
    background-color: #43ced2;
    color: #fff;
}
.btn-shadow--primary {
    box-shadow: 0 0 6px 1px rgba(115, 103, 240, 0.35);
}
.btn-shadow--secondary {
    box-shadow: 0 0 6px 1px rgba(134, 142, 150, 0.35);
}
.btn-shadow--success {
    box-shadow: 0 0 6px 1px rgba(40, 199, 111, 0.35);
}
.btn-shadow--danger {
    box-shadow: 0 0 6px 1px rgba(234, 84, 85, 0.35);
}
.btn-shadow--warning {
    box-shadow: 0 0 6px 1px rgba(255, 159, 67, 0.35);
}
.btn-shadow--info {
    box-shadow: 0 0 6px 1px rgba(30, 159, 242, 0.35);
}
.btn-shadow--light {
    box-shadow: 0 0 6px 1px rgba(238, 244, 255, 0.35);
}
.btn-shadow--dark {
    box-shadow: 0 0 6px 1px rgba(16, 22, 58, 0.35);
}
.btn-shadow--base {
    box-shadow: 0 0 6px 1px rgba(67, 206, 210, 0.35);
}
.btn--capsule {
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}
.icon-btn {
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: #43ced2;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.icon-btn:hover {
    color: #fff;
}
.btn--group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}
.btn--group *[class*="btn"] {
    margin: 0.3125rem 0.625rem;
    align-items: center;
}
.btn--group *[class*="btn"].d-flex {
    padding: 0.5rem 2.1875rem;
}
.btn--group.style--two {
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
}
.btn--group.style--two *[class*="btn"] {
    margin: 0.1875rem 0.3125rem;
}
[class*="btn"].btn-md {
    padding: 0.625rem 1.25rem;
}
[class*="btn"].btn-sm {
    padding: 0.375rem 0.625rem;
}
/* button css end */
.badge--primary {
    background-color: rgba(115, 103, 240, 0.15);
    border: 1px solid #7367f0;
    color: #7367f0;
}
.badge--secondary {
    background-color: rgba(134, 142, 150, 0.15);
    border: 1px solid #868e96;
    color: #868e96;
}
.badge--success {
    background-color: rgba(40, 199, 111, 0.15);
    border: 1px solid #28c76f;
    color: #28c76f;
}
.badge--danger {
    background-color: rgba(234, 84, 85, 0.15);
    border: 1px solid #ea5455;
    color: #ea5455;
}
.badge--warning {
    background-color: rgba(255, 159, 67, 0.15);
    border: 1px solid #ff9f43;
    color: #ff9f43;
}
.badge--info {
    background-color: rgba(30, 159, 242, 0.15);
    border: 1px solid #1e9ff2;
    color: #1e9ff2;
}
.badge--light {
    background-color: rgba(238, 244, 255, 0.15);
    border: 1px solid #eef4ff;
    color: #eef4ff;
}
.badge--dark {
    background-color: rgba(16, 22, 58, 0.15);
    border: 1px solid #10163A;
    color: #10163A;
}
.badge--base {
    background-color: rgba(67, 206, 210, 0.15);
    border: 1px solid #43ced2;
    color: #43ced2;
}
/* table css start */
.custom--table {
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-spacing: 0 0.9375rem;
    border-collapse: separate;
}
.custom--table.white-space-nowrap th {
    white-space: nowrap;
}
.custom--table thead {
    background-color: #002046;
}
.custom--table thead tr {
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.custom--table thead th {
    border-top: none;
    padding: 0.625rem 1.25rem;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 0.8125rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.custom--table thead th:first-child {
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    text-align: left;
}
.custom--table thead th:last-child {
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    text-align: right;
}
.custom--table tbody td {
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    padding: 0.9375rem 1.25rem;
    color: #464646;
    vertical-align: middle;
    font-size: 0.875rem;
    text-align: center;
}
.custom--table tbody td:first-child {
    text-align: left;
}
.custom--table tbody td:last-child {
    text-align: right;
}
.custom--table tbody tr {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.custom--table tbody tr:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}
.custom--table tbody tr:nth-child(even) {
    background-color: #afb1b50d;
}
.custom--table tbody tr:last-child td {
    border-bottom: none;
}
[data-label] {
    position: relative;
}
[data-label]::before {
    position: absolute;
    content: attr(data-label);
    font-weight: 700;
    color: #000000;
    top: 0;
    left: 0;
    padding: 0.8125rem 0.9375rem;
    display: none;
    font-size: 0.75rem;
}
@media (max-width: 991px) {
    .table-responsive--md thead {
        display: none;
    }
    .table-responsive--md tbody tr:nth-child(odd) {
        background-color: aliceblue;
    }
    .table-responsive--md tr th, .table-responsive--md tr td {
        display: block;
        padding-left: 45% !important;
        text-align: right !important;
        border-top: 1px solid rgba(0, 0, 0, 0.08) !important;
    }
    .table-responsive--md tr th:first-child, .table-responsive--md tr td:first-child {
        border-top: none !important;
    }
    .table-responsive--md [data-label]::before {
        display: block;
    }
}
@media (max-width: 767px) {
    .table-responsive--sm thead {
        display: none;
    }
    .table-responsive--sm tbody tr:nth-child(odd) {
        background-color: aliceblue;
    }
    .table-responsive--sm tr th, .table-responsive--sm tr td {
        display: block;
        padding-left: 45% !important;
        text-align: right !important;
        border-top: 1px solid rgba(0, 0, 0, 0.08) !important;
    }
    .table-responsive--sm tr th:first-child, .table-responsive--sm tr td:first-child {
        border-top: none !important;
    }
    .table-responsive--sm [data-label]::before {
        display: block;
    }
}
@media (max-width: 1199px) {
    *[class*="table-responsive--"].data-label--none tr th, *[class*="table-responsive--"].data-label--none tr td {
        padding-left: .75rem;
    }
}
/* table css end */
/* form css start */
.form-group {
    margin-bottom: 0.9375rem;
}
.form--control {
    padding: 0.625rem 1.25rem;
    border: 1px solid #43ced2;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #000;
    height: 3.125rem;
}
.form--control:focus {
    background-color: #fff;
    border-color: #43ced2 ;
    box-shadow: 0 0 5px rgba(67, 206, 210, 0.35);
    color: #000;
}
.form--control:placeholder-shown {
    border-color: #d8d8d8;
    color: #464646;
}
.form--control[readonly] {
    background-color: #fff;
}
.form--control.style--two {
    border-width: 0 0 1px 0;
    padding: 0.625rem 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-family: "Quicksand", sans-serif;
    border-bottom-color: #999999;
}
.form--control.style--two:focus {
    box-shadow: none;
}
.select {
    padding: 0.625rem 1.25rem;
    width: 100%;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    color: #464646;
    background-color: #fff;
    height: 3.125rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.select option {
    padding: 0.625rem 0;
    display: block;
    border-top: 1px solid #e5e5e5;
}
.select.style--trans {
    background-color: transparent;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
}
.select.style--trans option {
    color: #363636;
}
.select.select-sm {
    height: 1.875rem;
    font-size: 0.875rem;
    padding: 0.3125rem;
}
textarea {
    min-height: 9.375rem !important;
    resize: none;
    width: 100%;
}
label {
    color: #535353;
    margin-bottom: 0.625rem;
    font-family: "Quicksand", sans-serif;
    font-size: 0.8125rem;
    font-weight: 500;
}
.input-group > .form--control,
.input-group > .select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.input-group select {
    background-color: transparent;
    border: none;
}
.custom-radio {
    position: relative;
    padding-left: 0;
}
.custom-radio input[type=radio] {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    cursor: pointer;
}
.custom-radio input[type=radio]:checked ~ label::before {
    border-width: 2px;
    border-color: #43ced2;
}
.custom-radio input[type=radio]:checked ~ label::after {
    opacity: 1;
}
.custom-radio label {
    margin-bottom: 0;
    position: relative;
    padding-left: 20px;
    font-size: 0.9375rem;
}
.custom-radio label::before {
    position: absolute;
    content: '';
    top: 1px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #888888;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.custom-radio label::after {
    position: absolute;
    content: '';
    top: 5px;
    left: 4px;
    width: 7px;
    height: 7px;
    background-color: #43ced2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.custom-radio.style--two label::before {
    top: 5px;
}
.custom-radio.style--two label::after {
    top: 9px;
}
.wrong-info .form--control {
    border-color: #ea5455 !important;
    box-shadow: 0 0 6px 1px rgba(234, 84, 85, 0.3) !important;
}
.select2-container {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    height: 50px;
}
.select2-container .selection, .select2-container .select2-selection--single, .select2-container .select2-selection__rendered {
    display: block;
}
.select2-container .select2-selection--single {
    height: 50px;
    border-color: #d8d8d8;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    padding-left: 1.25rem;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    height: 50px;
}
/* form css end*/
/* card css start */
.custom--card {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.custom--card .card-header {
    background-color: #4582ff08;
}
.custom--card .card-body {
    padding: 1.25rem;
}
.card {
    border-width: 2px;
}
.card.style--two {
    background-color: transparent;
}
.card.style--two .card-header {
    padding: 0.9375rem 1.5625rem;
    background-color: transparent;
}
/* card css end */
/* modal css start */
.modal {
    z-index: 999999;
}
/* modal css end */
/* header start */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: transparent;
}
.header.menu-fixed .header__top {
    display: none;
}
.header.menu-fixed .header__bottom {
    background-color: #002046;
}
.header__bottom {
    padding: 0 3.125rem;
    background-color: rgba(0, 32, 70, 0.15);
    border-bottom: none;
}
@media (max-width: 1199px) {
    .header__bottom {
        padding: 0.625rem 0;
    }
}
.header .site-logo img {
    width: 10.9375rem;
}
@media (max-width: 1199px) {
    .header .site-logo img {
        max-width: 9.375rem;
    }
}
.header .main-menu {
    margin-left: 4.375rem;
}
@media (max-width: 1199px) {
    .header .main-menu {
        margin-left: 0;
        padding: 0.9375rem 0;
    }
}
.header .main-menu li {
    position: relative;
}
@media (max-width: 1199px) {
    .header .main-menu li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
}
.header .main-menu li:last-child a {
    padding-right: 0;
}
.header .main-menu li.menu_has_children {
    position: relative;
}
.header .main-menu li.menu_has_children.open .sub-menu {
    display: block;
}
.header .main-menu li.menu_has_children > a {
    padding-right: 1.5625rem;
}
@media (max-width: 1199px) {
    .header .main-menu li.menu_has_children > a {
        display: block;
    }
}
.header .main-menu li.menu_has_children > a::before {
    position: absolute;
    content: "\f067";
    font-family: "Line Awesome Free";
    font-weight: 900;
    top: 30px;
    right: 0;
    color: #ffffff;
}
@media (max-width: 1199px) {
    .header .main-menu li.menu_has_children > a::before {
        display: block;
        top: 0.5625rem;
    }
}
.header .main-menu li.menu_has_children:hover > a::before {
    content: "\f068";
    color: #43ced2;
}
.header .main-menu li a {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1.5625rem 0.9375rem 1.5625rem 0;
    font-size: 0.9375rem;
    color: #fff;
}
@media (max-width: 1199px) {
    .header .main-menu li a {
        color: #ffffff;
        padding: 0.5rem 0;
        display: block;
    }
}
.header .main-menu li a:hover, .header .main-menu li a:focus {
    color: #fff;
}
.header .main-menu li .sub-menu {
    position: absolute;
    width: 220px;
    top: 105%;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    padding: 0.625rem 0;
    -webkit-box-shadow: 0px 18px 54px -8px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 5px 25px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    border: 2px solid #e5e5e5;
}
@media (max-width: 1199px) {
    .header .main-menu li .sub-menu {
        opacity: 1;
        visibility: visible;
        display: none;
        position: static;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
        width: 100%;
        background-color: #002046;
        border: none;
    }
}
.header .main-menu li .sub-menu::before {
    position: absolute;
    content: '';
    top: -19px;
    left: 20px;
    border-width: 10px 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
@media (max-width: 1199px) {
    .header .main-menu li .sub-menu::before {
        display: none;
    }
}
.header .main-menu li .sub-menu li {
    border-bottom: 1px dashed #e5e5e5;
}
@media (max-width: 1199px) {
    .header .main-menu li .sub-menu li {
        border-color: rgba(255, 255, 255, 0.15);
    }
}
.header .main-menu li .sub-menu li:last-child {
    border-bottom: none;
}
.header .main-menu li .sub-menu li a {
    padding: 0.5rem 1.5625rem;
    display: block;
    color: #464646;
    position: relative;
    font-size: 0.9375rem;
    text-transform: capitalize;
}
@media (max-width: 1199px) {
    .header .main-menu li .sub-menu li a {
        color: #fff;
    }
}
.header .main-menu li .sub-menu li a::before {
    position: absolute;
    content: '';
    top: 0;
    left: -0.25rem;
    width: 0.25rem;
    height: 100%;
    background-color: #43ced2;
    opacity: 0;
}
.header .main-menu li .sub-menu li a:hover {
    background-color: rgba(67, 206, 210, 0.05);
    color: #43ced2;
}
.header .main-menu li .sub-menu li a:hover::before {
    opacity: 1;
    left: 0;
}
.header .main-menu li .sub-menu li + li {
    margin-left: 0;
}
.header .main-menu li:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.header .main-menu li + li {
    margin-left: 1.25rem;
}
@media (max-width: 1199px) {
    .header .main-menu li + li {
        margin-left: 0;
    }
}
.header .nav-right {
    padding-left: 3.125rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
@media (max-width: 1199px) {
    .header .nav-right {
        padding-left: 0;
    }
}
.language-select {
    background-color: transparent;
    color: #fff;
    height: 45px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.language-select option {
    background-color: #002046;
    color: #fff;
}
@media (max-width: 1199px) {
    .navbar-collapse {
        background-color: #071e3e;
        padding: 0 1.875rem 1.25rem 1.875rem;
    }
}
@media (max-width: 767px) {
    .navbar-collapse {
        max-height: 20rem;
        overflow: auto;
    }
}
@media (max-width: 1199px) {
    .navbar {
        justify-content: start;
    }
    .navbar .site-logo {
        margin-left: auto;
    }
}
.navbar-toggler {
    padding: 0;
    border: none;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.menu-toggle {
    margin: 10px 0;
    position: relative;
    display: block;
    width: 2.1875rem;
    height: 1.25rem;
    cursor: pointer;
    background: transparent;
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: #ffffff;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.menu-toggle:before, .menu-toggle:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: currentColor;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -moz-transition: -webkit-transform 0.25s ease-in-out;
    -ms-transition: -webkit-transform 0.25s ease-in-out;
}
@media (max-width: 1199px) {
    .menu-toggle:before, .menu-toggle:after {
        background-color: #ffffff;
    }
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-ms-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
/* header end */
/* hero css start */
.hero {
    padding-top: 13.125rem;
    padding-bottom: 11.25rem;
    position: relative;
    z-index: 1;
}
@media (max-width: 991px) {
    .hero {
        padding-top: 10.625rem;
    }
}
.hero::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002046;
    opacity: 0.55;
    z-index: -1;
}
.hero__subtitle {
    color: #43ced2;
    font-size: 1.375rem;
}
@media (max-width: 767px) {
    .hero__subtitle {
        font-size: 1.125rem;
    }
}
.hero__title {
    font-size: 3.5rem;
    color: #fff;
}
@media (max-width: 767px) {
    .hero__title {
        font-size: 2.625rem;
    }
}
.hero__description {
    color: #fff;
}
.hero-search-form {
    background-color: #fff;
    padding: 0.625rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    padding: 0.9375rem;
}
.hero-search-form::before {
    position: absolute;
    content: '';
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    z-index: -1;
}
.hero-search-form .input-group {
    width: calc((100% / 2) - (140px / 2));
    align-items: center;
}
@media (max-width: 575px) {
    .hero-search-form .input-group {
        width: 100%;
        border: 1px solid #e5e5e5;
        margin-bottom: 20px;
        padding: 0 0.9375rem;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}
.hero-search-form .input-group i {
    font-size: 1.25rem;
}
.hero-search-form .form--control {
    border: none;
    border-right: 1px solid #e5e5e5;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
@media (max-width: 575px) {
    .hero-search-form .form--control {
        border-right: none;
        padding: 0.625rem;
    }
}
.hero-search-form .form--control:focus {
    box-shadow: none;
    border-color: #e5e5e5;
}
.hero-search-form .select {
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
@media (max-width: 575px) {
    .hero-search-form .select {
        padding: 0.625rem;
    }
}
.hero-search-form .hero-search-form-btn {
    width: 120px;
    margin-left: 20px;
    background-color: #43ced2;
    color: #fff;
    padding: 0.625rem 1.25rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width: 575px) {
    .hero-search-form .hero-search-form-btn {
        width: 100%;
        margin-left: 0;
    }
}
.hero-search-form .hero-search-form-btn:hover {
    background-color: #31c7cb;
}
/* hero css end */
/* inner hero section css start */
.inner-hero {
    position: relative;
    z-index: 1;
    padding-top: 130px;
    padding-bottom: 70px;
}
.inner-hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002046;
    opacity: 0.75;
    z-index: -1;
}
.inner-hero .page-title {
    color: #fff;
}
/* inner hero section css end */
/* category section css start */
.category-wrapper {
    padding: 3.125rem;
    background-color: #fff;
    margin-top: -4.375rem;
    position: relative;
    z-index: 2;
    box-shadow: 0 10px 45px rgba(0, 0, 0, 0.05);
}
@media (max-width: 575px) {
    .category-wrapper {
        padding: 3.125rem 1.875rem;
    }
}
@media (max-width: 380px) {
    .category-wrapper {
        padding: 2.5rem 1.25rem;
    }
}
.category-item {
    text-align: center;
    padding: 1.25rem;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.category-item:hover {
    background-color: rgba(67, 206, 210, 0.05);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.category-item__thumb img {
    max-height: 55px;
}
.category-item__content {
    margin-top: 0.5rem;
}
.category-item__content .title {
    font-weight: 600;
    font-size: 1rem;
}
.category-item__count {
    font-size: 0.875rem;
    color: #777;
}
.category-item__count::before {
    content: '(';
}
.category-item__count::after {
    content: ')';
}
.page-link-inline-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.page-link-inline-menu li {
    font-size: 0.875rem;
    font-weight: 500;
}
.page-link-inline-menu li::after {
    font-family: 'Line Awesome Free';
    font-weight: 900;
    content: "\f105";
    font-size: 0.75rem;
}
.page-link-inline-menu li:last-child::after {
    display: none;
}
.item-search-wrapper {
    margin-bottom: 1.875rem;
}
.item-search-wrapper .item-search-btn {
    background-color: #002046;
    color: #fff;
    padding: 0.625rem 1.25rem;
}
.item-search-form {
    position: relative;
}
.item-search-form .form--control {
    padding-right: 3.75rem;
}
.item-search-form .item-search-form-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: calc(100% - 10px);
    width: 55px;
    background-color: #002046;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 1.25rem;
}
.select-menu-list li {
    padding: 0.625rem 0;
    border-bottom: 1px dashed #e5e5e5;
}
.select-menu-list li:last-child {
    border-bottom: none;
}
.select-menu-list li.active .drop-menu {
    display: block;
}
.select-menu-list li a {
    display: block;
}
.select-menu-list li > a {
    color: #464646;
}
.select-menu-list li > a:hover {
    color: #43ced2;
}
.select-menu-list li .drop-menu {
    padding-left: 1.125rem;
    margin-top: 0.9375rem;
    display: none;
}
.select-menu-list li .drop-menu li:first-child {
    border-top: 1px dashed #e5e5e5;
}
.select-menu-list li.has-drop-menu {
    cursor: pointer;
    position: relative;
}
.select-menu-list li.has-drop-menu::after {
    position: absolute;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    content: "\f105";
    top: 0.625rem;
    right: 0;
}
.select-menu-list li .select-menu-img {
    max-width: 20px;
}
.filter-open-btn {
    padding: 0.5rem 1.25rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #43ced2;
    color: #fff;
    display: none;
}
@media (max-width: 991px) {
    .filter-open-btn {
        display: inline-block;
    }
}
.sidebar-close-btn {
    display: none;
}
@media (max-width: 991px) {
    .sidebar-close-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #ea5455;
        color: #fff;
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 991px) {
    .filter-sidebar {
        position: fixed;
        top: 70px;
        left: 0;
        z-index: 9;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
        height: calc(100vh - 70px);
        overflow: scroll;
        transform: translateX(-100%);
    }
    .filter-sidebar.active {
        transform: translateX(0);
    }
}
/* category section css end */
/* category details section css start */
.category-details-wrapper {
    margin-top: 35px;
}
.main-thumb-slider .main-thumb {
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 520px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}
@media (max-width: 767px) {
    .main-thumb-slider .main-thumb {
        min-height: 360px;
    }
}
.fullview-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.fullview-image::after {
    position: absolute;
    content: "\f31e";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.ad-details-nav-slider .slick-list {
    margin: 0 -15px;
}
.ad-details-nav-slider .slick-arrow {
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    margin-top: -17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #e5e5e5;
    z-index: 1;
}
.ad-details-nav-slider .slick-arrow.prev {
    left: -15px;
}
.ad-details-nav-slider .slick-arrow.next {
    right: -15px;
}
.ad-details-nav-slider .ad-details-nav-thumb {
    margin: 0 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f1f1f1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.ad-details-nav-slider .ad-details-nav-thumb.slick-current.slick-active {
    box-shadow: inset 0 0 4px #43ced2;
}
.ad-details-nav-slider .ad-details-nav-thumb img {
    max-height: 80px;
}
.meta-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -5px -7px;
}
.meta-list li {
    padding: 5px 7px;
    display: flex;
    align-items: center;
}
.meta-list li i {
    font-size: 1.125rem;
    margin-right: 5px;
}
.meta-list li a {
    color: #464646;
}
.meta-list li a:hover {
    color: #43ced2;
}
.ad-shape-menu {
    position: relative;
}
.ad-shape-menu:hover .share-sub-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.ad-shape-menu .ad-share-btn {
    background-color: transparent;
    padding: 6px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.ad-shape-menu .ad-share-btn:hover {
    background-color: #f1f1f1;
}
.share-sub-menu {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: absolute;
    width: 150px;
    top: 120%;
    right: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
}
.share-sub-menu li:last-child a {
    border-bottom: none;
}
.share-sub-menu li a {
    display: block;
    color: #464646;
    padding: 8px  10px;
    border-bottom: 1px dashed #e5e5e5;
}
.share-sub-menu li a:hover {
    color: #43ced2;
    background-color: #f1f1f159;
}
.ad-save__btn {
    background-color: transparent;
    padding: 6px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.ad-save__btn:hover {
    background-color: #f1f1f1;
}
.ad-details-thumb-area {
    position: relative;
}
.ad-details-thumb-area .ad-details-price {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
    width: 120px;
    background-color: #43ced2;
    color: #fff;
    z-index: 1;
    padding: 0.625rem 1.25rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.ad-details-content {
    margin-top: 45px;
    max-height: 400px;
    overflow: hidden;
    position: relative;
}
.ad-details-content::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.35));
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.35));
}
.ad-details-content.active {
    max-height: 100%;
}
.ad-details-content.active::after {
    display: none;
}
.ad-details-show-btn {
    background-color: #90909014;
    width: 100%;
    padding: 10px 30px;
}
.ad-details-show-btn .text-two {
    display: none;
}
.ad-details-show-btn.active .text-one {
    display: none;
}
.ad-details-show-btn.active .text-two {
    display: inline-block;
}
.ad-details-content-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 480px) {
    .ad-details-content-footer {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .ad-details-content-footer .right {
        margin-top: 10px;
    }
}
.related-ad-slider .slick-list {
    margin: 0 -0.4375rem;
}
.related-ad-slider .single-slide {
    margin: 0 0.4375rem;
}
.related-ad-slider .slick-arrow {
    position: absolute;
    top: -35px;
}
.related-ad-slider .slick-arrow.prev {
    right: 30px;
}
.related-ad-slider .slick-arrow.next {
    right: 0;
}
/* category details section css end */
/* feature section css start */
.feature-ad-slider .slick-list {
    margin: 0 -8px;
}
.feature-ad-slider .single-slide {
    margin: 0 8px;
}
.feature-ad-slider .slick-arrow {
    position: absolute;
    top: -75px;
    right: 0;
    width: 35px;
    height: 30px;
    background-color: #43ced2;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.feature-ad-slider .slick-arrow.prev {
    right: 45px;
}
.list-item {
    padding: 0.625rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.list-item:hover .list-item__wrapper {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}
.list-item__thumb {
    width: 100%;
}
.list-item__thumb a {
    display: block;
    text-align: center;
    width: 100%;
    margin-right: 10px;
}
.list-item__thumb img {
    height: 285px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.list-item__meta li {
    display: flex;
    align-items: center;
}
.list-item__meta li i {
    font-size: 1.125rem;
    margin-right: 5px;
}
.list-item__meta li a {
    color: #464646;
}
.list-item__meta li a:hover {
    color: #43ced2;
}
.list-item__wrapper {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.list-item__footer .price {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5rem;
    color: #43ced2;
    font-weight: 600;
}
.list-item.list--style {
    height: auto;
}
.list-item.list--style .list-item__thumb {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item.list--style .list-item__thumb img {
    min-height: 100px;
    max-height: 200px;
}
.list-item.list--style .list-item__wrapper {
    width: 70%;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media (max-width: 767px) {
    .list-item.list--style .list-item__wrapper {
        width: 100%;
    }
}
.list-item.list--style .list-item__wrapper .list-item__content {
    width: calc(100% - 150px);
}
@media (max-width: 575px) {
    .list-item.list--style .list-item__wrapper .list-item__content {
        width: 100%;
    }
}
.list-item.list--style .list-item__wrapper .list-item__meta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -5px -7px;
}
.list-item.list--style .list-item__wrapper .list-item__meta li {
    margin: 5px 7px;
    color: #777;
}
.list-item.list--style .list-item__wrapper .list-item__meta li a {
    color: #777;
}
.list-item.list--style .list-item__wrapper .list-item__meta li a:hover {
    color: #43ced2;
}
.list-item.list--style .list-item__wrapper .list-item__footer {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    text-align: right;
}
@media (max-width: 767px) {
    .list-item.list--style .list-item__thumb {
        width: 100%;
    }
    .list-item.list--style {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .list-item.list--style .list-item__thumb img {
        width: 100%;
        height: unset;
        min-height: unset;
        max-height: unset;
    }
}
@media (max-width: 575px) {
    .list-item.list--style .list-item__wrapper .list-item__footer {
        width: 100%;
        justify-content: flex-start;
        text-align: left;
        margin-top: 15px;
    }
}
.list-item.list--style .list-item__wrapper .list-item__footer .price {
    width: 100%;
}
.list-item.list--style .list-item__wrapper  .title {
    margin-top: 14px;
    margin-bottom: 5px;
}
.list-item + .list-item {
    margin-top: 10px;
}
/* feature section css end */
/* location section css start */
.location-card {
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
}
.location-card:hover {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
.location-card:hover img {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}
.location-card:hover .overlay-content {
    background-color: rgba(0, 0, 0, 0.45);
}
.location-card img {
    width: 100%;
}
.location-card .overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-card .overlay-content .title {
    color: #fff;
}
.location-card .overlay-content .location-amount {
    color: #fff;
}
.location-card .overlay-content .location-amount::before {
    content: '(';
}
.location-card .overlay-content .location-amount::after {
    content: ')';
}
/* location section css end */
/* cta section css start */
@media (max-width: 991px) and (min-width: 480px) {
    .feature-item {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
@media (max-width: 991px) and (min-width: 480px) {
    .feature-item__icon {
        width: 95px;
    }
}
.feature-item__icon img {
    max-height: 65px;
}
.feature-item__content {
    margin-top: 25px;
}
@media (max-width: 991px) and (min-width: 480px) {
    .feature-item__content {
        width: calc(100% - 95px);
        margin-top: 0;
    }
}
.cta-wrapper {
    padding: 3.125rem;
    background-color: #43ced2;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 480px) {
    .cta-wrapper {
        padding: 1.875rem;
    }
}
.cta-wrapper::before {
    position: absolute;
    content: '';
    top: 50%;
    left: -120px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 350px;
    height: 350px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0.5;
    z-index: -1;
}
.cta-wrapper::after {
    position: absolute;
    content: '';
    top: -40px;
    right: -60px;
    width: 200px;
    height: 200px;
    background: transparent;
    background-image: radial-gradient(#fff 20%, transparent 0), radial-gradient(#fff 20%, transparent 0);
    background-size: 10px 10px;
    background-position: 0 0, 25px 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
}
/* cta section css end */
/* account section css start */
.account-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #fff;
}
.account-wrapper .left {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.875rem;
    border-radius: 8px 0 0 8px;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
@media (max-width: 991px) {
    .account-wrapper .left {
        width: 100%;
        padding: 3.125rem 1.875rem;
        border-radius: 8px 8px 0 0;
        -webkit-border-radius: 8px 8px 0 0;
        -moz-border-radius: 8px 8px 0 0;
        -ms-border-radius: 8px 8px 0 0;
        -o-border-radius: 8px 8px 0 0;
    }
}
.account-wrapper .left::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002046;
    opacity: 0.65;
    z-index: -1;
}
.account-wrapper .right {
    width: 50%;
    padding: 2.5rem 1.875rem;
    border: 2px solid #e5e5e5;
    border-left: none;
    border-radius: 0 8px 8px 0;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
}
@media (max-width: 991px) {
    .account-wrapper .right {
        width: 100%;
        border-radius: 0 0 8px 8px;
        -webkit-border-radius: 0 0 8px 8px;
        -moz-border-radius: 0 0 8px 8px;
        -ms-border-radius: 0 0 8px 8px;
        -o-border-radius: 0 0 8px 8px;
        border: 2px solid #e5e5e5;
        border-top: none;
    }
}
.account-wrapper .right .title {
    font-weight: 700;
    font-size: 1.75rem;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 1.875rem;
}
.account-wrapper .right .title::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #43ced2;
}
/* account section css end */
/* contact section css start */
.contact-form-wrapper {
    padding: 3.125rem;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width: 1399px) {
    .contact-form-wrapper {
        padding: 3.125rem 1.875rem;
    }
}
.contact-form-wrapper .title {
    margin-bottom: 1.875rem;
    font-weight: 600;
}
.contact-info-card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem;
    border: 1px solid #e5e5e5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 100%;
}
.contact-info-card__icon {
    width: 75px;
    height: 75px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #43ced2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contact-info-card__icon i {
    font-size: 2.125rem;
    color: #fff;
}
.contact-info-card__content {
    width: calc(100% - 75px);
    padding-left: 1.25rem;
}
.contact-info-card__content .title {
    margin-bottom: 0.3125rem;
}
.contact-info-card__content a {
    color: #464646;
}
.contact-info-card__content a:hover {
    color: #43ced2;
}
.map-wrapper {
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* contact section css end */
/* dashboard section css start */
.widget-card {
    padding: 15px;
    background-color: rgba(115, 103, 240, 0.15);
    border: 1px solid rgba(115, 103, 240, 0.55);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.widget-card__header {
    width: 100%;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(115, 103, 240, 0.25);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 1.25rem;
}
.widget-card__header .title {
    width: calc(100% - 47px);
    padding-right: 10px;
}
.widget-card__header .view-btn {
    width: 47px;
    padding: 2px 10px;
    background-color: #7367f0;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-size: 0.75rem;
}
.widget-card__content {
    width: calc(100% - 60px);
    padding-right: 0.9375rem;
}
.widget-card__content .widget-number {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.2;
}
.widget-card__icon {
    width: 55px;
    height: 55px;
    background-color: rgba(115, 103, 240, 0.85);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
}
.widget-card.widget-color--2 {
    background-color: rgba(30, 159, 242, 0.15);
    border: 1px solid rgba(30, 159, 242, 0.55);
}
.widget-card.widget-color--2 .widget-card__icon,
.widget-card.widget-color--2 .widget-card__header .view-btn {
    background-color: #1e9ff2;
}
.widget-card.widget-color--2 .widget-card__header {
    border-bottom: 1px solid rgba(30, 159, 242, 0.25);
}
.widget-card.widget-color--3 {
    background-color: rgba(0, 150, 136, 0.15);
    border: 1px solid rgba(0, 150, 136, 0.55);
}
.widget-card.widget-color--3 .widget-card__header {
    border-bottom: 1px solid rgba(0, 150, 136, 0.25);
}
.widget-card.widget-color--3 .widget-card__icon,
.widget-card.widget-color--3 .widget-card__header .view-btn {
    background-color: #009688;
}
.widget-card.widget-color--4 {
    background-color: rgba(76, 175, 80, 0.15);
    border: 1px solid rgba(76, 175, 80, 0.55);
}
.widget-card.widget-color--4 .widget-card__header {
    border-bottom: 1px solid rgba(76, 175, 80, 0.25);
}
.widget-card.widget-color--4 .widget-card__icon,
.widget-card.widget-color--4 .widget-card__header .view-btn {
    background-color: #4caf50;
}
.widget-card.widget-color--5 {
    background-color: rgba(0, 188, 212, 0.15);
    border: 1px solid rgba(0, 188, 212, 0.55);
}
.widget-card.widget-color--5 .widget-card__header {
    border-bottom: 1px solid rgba(0, 188, 212, 0.25);
}
.widget-card.widget-color--5 .widget-card__icon,
.widget-card.widget-color--5 .widget-card__header .view-btn {
    background-color: #00bcd4;
}
.widget-card.widget-color--6 {
    background-color: rgba(7, 121, 228, 0.15);
    border: 1px solid rgba(7, 121, 228, 0.55);
}
.widget-card.widget-color--6 .widget-card__header {
    border-bottom: 1px solid rgba(7, 121, 228, 0.25);
}
.widget-card.widget-color--6 .widget-card__icon,
.widget-card.widget-color--6 .widget-card__header .view-btn {
    background-color: #0779e4;
}
.table-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.table-item .thumb {
    width: 55px;
    background-color: #f1f1f1;
    padding: 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.table-item .content {
    width: calc(100% - 55px);
    padding-left: 0.9375rem;
}
.table-item .content .title {
    font-size: 1rem;
    font-weight: 700;
}
.account-header {
    padding: 1.25rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #002046;
}
.account-header .thumb {
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.account-header .thumb img {
    width: 100%;
}
.account-header .content {
    margin-top: 1.5625rem;
}
.account-header .content .name {
    color: #fff;
    font-size: 1.25rem;
}
.account-header .content .account-info-list li {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.25);
}
.account-header .content .account-info-list li i {
    color: #43ced2;
}
.account-info-list li {
    padding: 0.625rem 0;
    border-bottom: 1px dashed #e5e5e5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
}
.account-info-list li:first-child {
    padding-top: 0;
}
.account-info-list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.account-info-list li i {
    width: 30px;
    font-size: 1.375rem;
}
.account-info-list li span {
    width: calc(100% - 30px);
    word-break: break-word;
}
.account-menu-wrapper {
    padding: 1.25rem;
    margin-top: 1.875rem;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #fff;
}
@media (max-width: 991px) {
    .account-menu-wrapper {
        position: fixed;
        top: 65px;
        left: -105%;
        z-index: 99;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    .account-menu-wrapper.active {
        left: 0;
    }
}
.account-sidebar-close-btn {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 30px;
    height: 30px;
    background-color: #ea5455;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: none;
}
@media (max-width: 991px) {
    .account-sidebar-close-btn {
        display: inline-block;
    }
}
.account-sidebar-open-btn {
    background-color: #002046;
    color: #fff;
    padding: 0.5rem 1.5625rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 1.25rem;
    display: none;
}
@media (max-width: 991px) {
    .account-sidebar-open-btn {
        display: inline-block;
    }
}
.account-menu .menu-header {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 0.875rem;
    color: #777;
}
.account-menu li.active a {
    background-color: rgba(67, 206, 210, 0.15);
    color: #002046;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-bottom: none;
}
.account-menu li.active a:hover {
    color: #002046;
}
.account-menu li a {
    color: #464646;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px dashed #e5e5e5;
}
.account-menu li a:hover {
    color: #43ced2;
}
.account-menu li a i {
    font-size: 1.375rem;
    width: 25px;
}
.account-menu li a .menu-title {
    width: calc(100% - 25px);
    padding-left: 5px;
}
.create-ad-wrapper {
    padding: 50px;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width: 480px) {
    .create-ad-wrapper {
        padding: 2.5rem 1.875rem;
    }
}
@media (max-width: 360px) {
    .create-ad-wrapper {
        padding: 1.875rem 1.25rem;
    }
}
.create-ad-wrapper .title {
    padding-bottom: 0.625rem;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1.5625rem;
}
/* dashboard section css end */
/* sidebar css start */
.sidebar {
    padding: 1.25rem 0.9375rem;
    background-color: #fff;
    border: 2px solid #f2f2f2;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.sidebar-widget + .sidebar-widget {
    margin-top: 2.5rem;
}
.sidebar-widget__title {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    margin-bottom: 0.9375rem;
    font-weight: 700;
}
.sidebar-widget__title span {
    width: calc(100% - 30px);
}
.sidebar-widget__title .title-btn {
    width: 30px;
    background-color: transparent;
}
.sidebar-menu li a {
    color: #464646;
}
.sidebar-menu .sidebar-menu-img {
    max-height: 20px;
    margin-right: 5px;
}
.sidebar-menu .sidebar-dropdown + .sidebar-dropdown {
    margin-top: 10px;
}
.sidebar-menu .sidebar-dropdown {
    position: relative;
    font-family: "Quicksand", sans-serif;
}
.sidebar-menu .sidebar-dropdown > a {
    font-weight: 500;
}
.sidebar-menu .sidebar-dropdown > a:hover {
    color: #43ced2;
}
.sidebar-menu .sidebar-dropdown > a span {
    font-weight: 400;
    font-size: 0.875rem;
    color: #777;
}
.sidebar-menu .sidebar-dropdown > a span::before {
    content: '(';
}
.sidebar-menu .sidebar-dropdown > a span::after {
    content: ')';
}
.sidebar-menu .sidebar-dropdown::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
}
.sidebar-menu .sidebar-submenu {
    padding-left: 28px;
    display: none;
}
.sidebar-dropdown.active .sidebar-submenu {
    display: block;
}
.sidebar-menu .sidebar-submenu .sidebar-menu-item a {
    color: #43ced2;
}
.sidebar-menu .sidebar-submenu .sidebar-menu-item a::before {
    content: '- ';
}
.sidebar-menu .sidebar-submenu .sidebar-menu-item a span {
    color: #777;
    font-size: 0.875rem;
}
.sidebar-menu .sidebar-submenu .sidebar-menu-item a span::before {
    content: '(';
}
.sidebar-menu .sidebar-submenu .sidebar-menu-item a span::after {
    content: ')';
}
.ad-details-widget {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.ad-details-widget__title {
    padding: 0.625rem 1.25rem;
    background-color: #f1f1f1;
}
.ad-details-widget__body {
    padding: 20px;
}
.user-info-list li {
    padding: 15px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px dashed #e5e5e5;
}
.user-info-list li:first-child {
    padding-top: 0;
}
.user-info-list li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.user-info-list li .icon {
    width: 45px;
    height: 45px;
    background-color: #43ced2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-info-list li .icon i {
    font-size: 26px;
}
.user-info-list li .content {
    width: calc(100% - 45px);
    padding-left: 20px;
}
.user-info-list li .content .caption {
    font-size: 0.875rem;
}
.user-info-list li .content .value {
    font-size: 1rem;
    font-weight: 700;
}
/* sidebar css end */
/* footer section css start */
.footer {
    background-color: #002046;
}
.footer__top {
    padding-top: 70px;
    padding-bottom: 50px;
}
.footer .footer-support {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.footer p, .footer a, .footer span, .footer li, .footer i {
    color: #f2f2f2;
}
.footer__bottom {
    padding: 20px 0;
    position: relative;
    z-index: 1;
}
.footer__bottom::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001b3c;
    z-index: -1;
}
.footer-logo {
    max-height: 55px;
}
@media (max-width: 575px) {
    .footer-support-single {
        display: flex;
        align-items: center;
    }
}
@media (max-width: 380px) {
    .footer-support-single {
        display: block;
    }
}
.footer-support-single .caption {
    color: #fff;
    font-size: 1.125rem;
}
@media (max-width: 575px) {
    .footer-support-single .caption {
        padding-right: 10px;
    }
}
.footer-support-single .caption ~ a {
    margin-top: 0 !important;
}
.footer-widget__title {
    color: #fff;
    font-size: 1.125rem;
    margin-bottom: 2.1875rem;
    font-weight: 600;
}
@media (max-width: 991px) {
    .footer-widget__title {
        margin-bottom: 1.25rem;
    }
}
.footer-widget .link-list li a {
    padding: 5px;
    display: block;
    border-color: rgba(255, 255, 255, 0.25);
}
.link-list li:first-child a {
    padding-top: 0;
}
.link-list li:last-child a {
    padding-bottom: 0;
    border-bottom: none;
}
.link-list li a {
    padding: 7px 0;
    display: block;
    border-bottom: 1px dashed #e5e5e5;
}
.link-list li a:hover {
    color: #43ced2;
}
.social-link-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: -3px;
}
.social-link-list li {
    margin: 3px;
}
.social-link-list li a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002046;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 18px;
}
.social-link-list li a {
    background-color: rgba(255, 235, 255, .2);
}
/* footer section css end */

/*# sourceMappingURL=main.css.map */
.custom-checkbox {
    display: flex;
    margin-bottom: 16px;
}
.input-group .custom-checkbox {
    margin: 0;
}
.custom-checkbox label {
    margin: 0;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
    display: block;
    line-height: 22px;

}
.custom-checkbox input {
    margin-top: 5px;
    cursor: pointer;
    opacity: 0;
}
.custom-checkbox label::before {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    left: -18px;
    top: 4px;
    background: #43ced2;
    text-align: center;
    color: #fff;
    font-size: 10px;
    position: absolute;
    line-height: 15px;
    content: "";
}
.custom-checkbox input:checked ~ label::before {
    font-family: "Line Awesome Free";
    font-weight: 700;
    content: "\f00c";
    background-color: #7367f0;
}

.related--ad .list-item__thumb img,
.feature-ad .list-item__thumb img {
    height: 230px;
    width: 100%;
    object-fit: cover;
}
.related--ad .title a,
.feature-ad .title a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.counter-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -30px;
}
.counter-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    width: calc(25% - 15px);
    position: relative;
    padding: 20px;
    box-shadow: 0 0 5px #0020462e;
    border-radius: 5px;
}
@media screen and (min-width:576px) {
    .counter-item {
        padding: 25px 20px;
    }
}
.counter-content {
    width: calc(100% - 100px);
    padding-left: 15px;
}
@media (max-width: 1199px) {
    .counter-item {
        width: calc(50% - 15px);
    }
}

@media screen and (max-width: 575px) {
    .counter-item {
        width: calc(100%);
    }
}

.counter-item  .thumb {
    width: 100px;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 70px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 28px;
    background-color: #2ecc71;
    position: relative;
    overflow: hidden;
}
.counter-item .title {
    text-transform: capitalize;
    margin: 0;
}
@media screen and (min-width:576px) and (max-width: 767px) {
    .counter-item .thumb {
        width: 80px;font-size: 20px;
    }
    .counter-content {
        width: calc(100% - 80px);
        padding-left: 15px;
    }
    .counter-item .title {
        font-size: 16px;
    }
}
.featured--ticky {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 10px;
    border-radius: 3px;
    color: #fff;
    background: #ff9f43;
    font-size: 14px;
}
.list-item__thumb {
    position: relative;
}
@media screen and (min-width:992px) {
    .mw-lg-100 {
        max-width: 100% !important;
        padding: 0;
    }
    .ad-details-content-footer .left,
    .ad-details-content-footer .right
     {
        width: 100%;
    }
}
.how__item {
    padding: 0 30px;
    text-align: center;
}
.how__thumb {
    width: 100px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 94px;
    border-width: 3px;
    border-style: solid;
    border-color: #f74a05;
    border-radius: 50%;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
    color: #f74a05;
    background: #fff;
    margin: 0 auto 20px;
}
.how__thumb i {
    transform: rotate(-45deg);
}
.footer--links {
    margin-top: 30px;}
.footer--links, .help--link-list  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.help--link-list li:not(:last-child) a::after,
.footer--links li:not(:last-child) a::after {
    content: "|";
    color: #fff;
    font-size: 12px;
    opacity: .5;
    display: inline-block;
    margin: 0 13px;
}
.social-link-list {
    margin-top: 30px;
}

.how__item {
    position: relative;
}
.how__item .shape-bg {
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    width: 100%;
    top: 33px;
    height: 25px;
}
.how__item .shape-bg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
div[class*="col"]:nth-of-type(3n + 3) .how__item .shape-bg {
    display: none;
}
@media screen and (max-width:767px) {
    div[class*="col"] .how__item .shape-bg {
        display: none;
    }
    .list-item__thumb a {
        margin-right: 0;
        margin-bottom: 10px;
    }
}


.post__share {
    display: flex;
    flex-wrap: wrap;
    margin: -3px;
}

.post__share li {
    padding: 3px;
    flex-grow: 1;
}

.post__share li a {
    text-decoration: none;
    display: block;
}

.post__share li a i {
    line-height: 45px;
    width: 100%;
    height: 45px;
    display: block;
    text-align: center;
    color: #fff;
    background: #1e90ff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.post__share li a i[class*="facebook"] {
    background: #3b5998;
}

.post__share li a i[class*="whatsapp"] {
    background: #25d366;
}

.post__share li a i[class*="twitter"] {
    background: #55acee;
}

.post__share li a i[class*="linkedin"] {
    background: #007bb5;
}

.post__share li a i[class*="pinterest"] {
    background: #cd201f;
}

.post__share li a i[class*="skype"] {
    background: #2fb7df;
}

.post__share li a i[class*="youtube"] {
    background: #cd201f;
}

.post__share li a i[class*="google"] {
    background: #dd4b39;
}

.post__share li a i[class*="camera"] {
    background: #e4405f;
}

.post__share li a i[class*="instagram"] {
    background: #e4405f;
}

.post__share li a i[class*="tumblr"] {
    background: #34465d;
}

.post__share li a i[class*="behance"] {
    background: #1769ff;
}

.post__share li a i[class*="futbol"] {
    background: #db3776;
}

.post__share li a i[class*="vimeo"] {
    background: #1ab7ea;
}


 
 